#navbarNav ul li a{
    color: aliceblue;
}
.text-gallery {
    text-align: center;
    font-family: Verdana;
}

/* .gallery-size {
    width: 500px;
    height: 400px;

} */

.comment-box {
    height: 250px;
    margin-top: 150px;
    border-left: 4px solid grey;
    border-top: 4px solid grey;
    border-radius: 2%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: aliceblue;
    width: 80%;
    margin: 10%;
    padding: 10px;
}

pre {
    margin: 25%;
    width: 50%;
    text-align: center;
    padding: auto;
}

.comment-input {
    color: black;
    font-family: Verdana;
}

.comment-section {
    border: 2px solid black;
    padding: 1%;
    width: 70%;
    border-radius: 10px;
    margin: 10px 15%;

}

.sub-btn {
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.sub-btn input {
    background-color: #29baf0;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 6px;
    padding: 7px 18px;
    border: none;
}

.sub-btn input :hover {
    background-color: aliceblue;
}

